@model List<EcommerceShop.DAL.Tbl_Transaction>

@{
    ViewBag.Title = "StoreTransactions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    decimal totalPrices = Model.Sum(t => t.TotalAmount ?? 0);
}

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Customer Name</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Amount</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.TransactionId</td>
                    <td>@transaction.Tbl_Members.Username</td>
                    <td>@transaction.Tbl_Product.ProductName</td>
                    <td>@transaction.Quantity</td>
                    <td>@transaction.TotalAmount</td>
                    <td>@transaction.TimeStamp</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No transactions found for this store.</p>
}
<h3>Total Prices of All Products: @totalPrices</h3>
